.tour-packages-page .service-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tour-packages-page .section-title-wrapper {
  gap: 1rem;
}

@media (max-width: 767px) {
  .tour-packages-page .service-wrapper {
    gap: 1.5rem;
  }
}
