:root) {
  overflow: hidden;
}

:root {
  --_color---white: white;
  --fonts-family--inter-display: Interdisplay, Arial, sans-serif;
  --_color---black: #000;
  --_typography---font-size--font-size-sm: 1rem;
  --_typography---line-height--line-height-1-2: 1.2em;
  --fonts-weight--normal: 400;
  --_typography---heading--display-1: 4rem;
  --fonts-weight--medium: 500;
  --_typography---font-size--font-size-5-6xl: 3.25rem;
  --_typography---font-size--font-size-lg: 1.5rem;
  --_color---dim-gray: #666;
  --_typography---line-height--line-height-1-5: 1.5em;
  --_spacing---spacer--spacing-2xl: 1rem;
  --_border-radius---border-radius--border-radius-0-5rem\<deleted\|variable-755a8c64-52bb-b86a-9592-3b641c67e923\>: .5rem;
  --_color---vampire-black\<deleted\|variable-ae514511-889c-120f-5582-e7af3715c4e3\>: #040b09;
  --transparent\<deleted\|variable-55bcaf32-cf8c-f367-c0a0-d6baaddec8d6\>: #ddd0;
  --_color---rgba-255-255-255-0-05\<deleted\|variable-ae2ec911-0fb0-0270-8074-77c2562fd805\>: #ffffff0d;
  --_spacing---spacer--space-md\<deleted\|variable-71325a18-6004-fe8b-a7ef-674cb4e2e5c6\>: 1rem;
  --_spacing---space--space-md\<deleted\|variable-0956de3c-0790-013b-da4f-d5d6cd583c56\>: 1.5rem;
  --_color---02170c\<deleted\|variable-7c2e8b77-305d-50b1-5d2b-297139530c1f\>: #02170c;
  --_color---2effc7\<deleted\|variable-5a2052b8-804a-0104-1175-9ee5a35c556a\>: #2effc7;
  --_spacing---spacer--spacing-13xl: 2.5rem;
  --_spacing---spacer--space-29xl: 6.75rem;
  --_container-item---full: 100%;
  --_color---ghost-white: #f3f3f5;
  --_spacing---spacer--spacing-9xl: 2rem;
  --_spacing---spacer--spacing-8xl: 1.875rem;
  --_spacing---spacer--spacing-6xl: 1.5rem;
  --_spacing---spacer--spacing-16xl: 3rem;
  --_color---scarlet: #ff3d2e;
  --_color---soft-charcoal-tint: #00000026;
  --_color---spanish-gray: #999;
  --_color---alabaster: #f3f3f3;
  --_color---vermilion: #ff531f;
  --_color---cultured: #f1f1f1;
  --_color---light-transparent-black: #0000001a;
  --_color---white-smoke: #eee;
  --_color---dark-charcoal: #343330;
  --_container-item---regular-max-width: 84rem;
  --_container-item---max-width-large: 120rem;
  --_container-item---max-widht-small: 78.6rem;
  --_spacing---spacer--spacing-lg: .75rem;
  --_spacing---spacer--spacing-28xl: 5rem;
  --_spacing---border-radious--border-raduous-sm: .5rem;
  --_color---deep-black: black;
  --_typography---font-size--font-size-2xl: 2rem;
  --_typography---line-height--line-height-1: 1em;
  --fonts-weight--semi-bold: 600;
  --_spacing---spacer--spacing-sm: .375rem;
  --_spacing---spacer--spacing-xs: .25rem;
  --_spacing---spacer--spacing-4xl: 1.25rem;
  --_spacing---border-radious--border-raduous-5xl: 6.25rem;
  --_spacing---border-radious--border-raduous-full: 999px;
  --_spacing---spacer--spacing-20xl: 3.75rem;
  --_spacing---spacer--spacing-19xl: 3.5rem;
  --_spacing---spacer--space-xxxl: 7.5rem;
  --_typography---font-size--font-size-xsm: .875rem;
  --_typography---heading--display-2: 3.75rem;
  --_spacing---spacer--spacing-md: .5rem;
  --_spacing---spacer--spacing-3xl: 1.125rem;
  --_spacing---spacer--spacing-5xl: 1.375rem;
  --_spacing---spacer--spacing-10xl: 2.125rem;
  --_typography---font-size--font-size-base: 1.25rem;
  --_typography---font-size--font-size-5-5xl: 3.25rem;
  --_spacing---border-radious--border-raduous-md: 1rem;
  --_spacing---border-radious--border-raduous-2xl: 2rem;
  --_spacing---spacer--spacing-11xl: 2.25rem;
  --_spacing---spacer--spacing-7xl: 1.75rem;
  --_spacing---spacer--spacing-none: 0rem;
  --_spacing---spacer--spacing-17xl: 3.125rem;
  --_spacing---border-radious--border-raduous-lg: 1.25rem;
  --fonts-weight--extra-bold: 800;
  --_spacing---spacer--spacing-xl: .875rem;
  --_spacing---spacer--spacing-xxs: .125rem;
  --_typography---font-size--font-size-3xl: 2.25rem;
  --_spacing---spacer--highest-space: 10.75rem;
  --_typography---font-size--font-size-4xl: 2.5rem;
  --_spacing---spacer--spacing-14xl: 2.75rem;
  --_spacing---spacer--spacing-24xl: 4.25rem;
  --_typography---heading--heading-style-h1: 11.4rem;
  --_typography---line-height--line-height-0-9: .9em;
  --fonts-weight--bold: 700;
  --_spacing---spacer--spacing-22xl: 4rem;
  --_typography---font-size--font-size-xl: 1.75rem;
  --_typography---font-size--font-size-xs: .75rem;
  --_spacing---spacer--spacing-15xl: 2.875rem;
  --_spacing---border-radious--border-raduous-base: .75rem;
  --_typography---font-size--font-size-md: 1.125rem;
  --_typography---font-size--font-size-5xl: 3rem;
  --_spacing---border-radious--border-raduous-xxs: .25rem;
  --_typography---font-size--font-size-xxxs: .25rem;
  --_typography---font-size--font-size-xxs: .5rem;
  --_typography---heading--heading-style-h2: 2.5rem;
  --_typography---heading--heading-style-h3: 1.25rem;
  --_typography---heading--heading-style-h4: 1.125rem;
  --fonts-weight--light: 300;
  --_typography---heading--heading-style-h5: 0px;
  --_typography---heading--heading-style-h6: 0px;
  --_typography---line-height--line-height-1-1: 1.1em;
  --_typography---line-height--line-height-1-3: 1.3em;
  --_typography---line-height--line-height-1-4: 1.4em;
  --_spacing---spacer--spacing-12xl: 2.375rem;
  --_spacing---spacer--spacing-18xl: 3.25rem;
  --_spacing---spacer--spacing-21xl: 3.875rem;
  --_spacing---spacer--spacing-23xl: 4.125rem;
  --_spacing---spacer--spacing-25xl: 4.5rem;
  --_spacing---spacer--spacing-26xl: 4.75rem;
  --_spacing---spacer--spacing-27xl: 4.875rem;
  --_spacing---spacer--highest-space-second: 7.5rem;
  --_spacing---border-radious--border-raduous-xxxs: .125rem;
  --_spacing---border-radious--border-raduous-xs: .375rem;
  --_spacing---border-radious--border-raduous-xl: 1.5rem;
  --_spacing---border-radious--border-raduous-3xl: 2.5rem;
  --_spacing---border-radious--border-raduous-4xl: 3rem;
  --_spacing---border-radious--border-raduous-none: 0rem;
  --_typography---font-size--font-size-6xl: 3.5rem;
  --_typography---font-size--font-size-7xl: 4rem;
  --_typography---font-size--font-size-8xl: 4.5rem;
  --_typography---font-size--font-size-9xl: 5rem;
  --_typography---font-size--font-size-10xl: 5.5rem;
  --_typography---font-size--font-size-11xl: 6rem;
  --_typography---latter-spacing--litter-spacing-0-06: 0px;
}

.section {
  position: relative;
}

.section.hero {
  width: var(--_container-item---full);
}

.section.bg-image {
  background-color: var(--_color---ghost-white);
  background-image: url("https://cdn.prod.website-files.com/696b260b2c87366dbac9f403/696c85b816c84c4cf4725f94_y2k-preview-31%201%20(2).webp");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.section.faq {
  background-color: var(--_color---ghost-white);
}

.section.footer {
  background-color: var(--_color---ghost-white);
  color: var(--_color---ghost-white);
}

.section-title {
  grid-column-gap: var(--_spacing---spacer--spacing-2xl);
  grid-row-gap: var(--_spacing---spacer--spacing-2xl);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 653px;
  display: flex;
}

.section.bg-image {
    background-position: 50%;
    background-size: cover;
  }

.section.hero {
    padding-top: 0;
  }

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-blockcontainer {
    max-width: 728px;
  }

.w-layout-blockcontainer {
    max-width: none;
  }

.container, .container.regular {
  width: var(--_container-item---full);
  max-width: var(--_container-item---regular-max-width);
  padding-right: var(--_spacing---spacer--spacing-6xl);
  padding-left: var(--_spacing---spacer--spacing-6xl);
}

.container.large {
  width: var(--_container-item---full);
  max-width: var(--_container-item---max-width-large);
  padding-right: var(--_spacing---spacer--spacing-6xl);
  padding-left: var(--_spacing---spacer--spacing-6xl);
}

.container.is-small {
  width: var(--_container-item---full);
  max-width: var(--_container-item---max-widht-small);
  padding-right: var(--_spacing---spacer--spacing-6xl);
  padding-left: var(--_spacing---spacer--spacing-6xl);
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-container {
    max-width: 728px;
  }

.w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

.w-container {
    max-width: none;
  }

.space-xxxl {
  width: var(--_container-item---full);
  padding-top: var(--_spacing---spacer--space-xxxl);
}

.misson-top-wrappar {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
}

.misson-top-wrappar {
    grid-template-columns: 1fr .5fr;
  }

.misson-top-wrappar {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
    flex-flow: column;
    grid-template-columns: 1fr;
    justify-content: flex-end;
  }

.services-header-left {
  grid-column-gap: var(--_spacing---spacer--spacing-2xl);
  grid-row-gap: var(--_spacing---spacer--spacing-2xl);
  justify-content: flex-start;
  align-items: flex-start;
}

.services-header-left {
    grid-column-gap: var(--_spacing---spacer--spacing-sm);
    grid-row-gap: var(--_spacing---spacer--spacing-sm);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

.font-size-xsm {
  font-family: var(--fonts-family--inter-display);
  color: var(--_color---dim-gray);
  font-size: var(--_typography---font-size--font-size-xsm);
  line-height: var(--_typography---line-height--line-height-1-5);
}

.font-size-xsm.white {
  color: var(--_color---white);
  line-height: var(--_typography---line-height--line-height-1-5);
}

.font-size-xsm.ironside-grey {
  color: var(--_color---dim-gray);
}

.font-size-xsm.brand {
  color: var(--_color---vermilion);
}

.font-size-xsm.black, .font-size-xsm.pure-black {
  color: var(--_color---deep-black);
}

.font-size-xsm.pure-black.all-caps {
  text-transform: uppercase;
}

.font-size-xsm.is-white {
  color: var(--_color---white);
}

.highlight-text {
  color: var(--_color---vermilion);
}

.heading-style-h2 {
  font-family: var(--fonts-family--inter-display);
  font-size: var(--_typography---heading--display-2);
  line-height: var(--_typography---line-height--line-height-1-2);
  font-weight: var(--fonts-weight--medium);
  text-align: left;
}

.heading-style-h2.center-mobile {
    text-align: center;
  }

.font-size-sm {
  font-family: var(--fonts-family--inter-display);
  color: var(--_color---black);
  font-size: var(--_typography---font-size--font-size-sm);
  line-height: var(--_typography---line-height--line-height-1-5);
  font-weight: var(--fonts-weight--normal);
  margin-bottom: 0;
}

.font-size-sm.w--current {
  font-weight: var(--fonts-weight--semi-bold);
}

.font-size-sm.link-button {
  color: var(--_color---white);
}

.font-size-sm.lemon-grass {
  color: var(--_color---spanish-gray);
}

.font-size-sm.white {
  color: var(--_color---white);
  font-weight: var(--fonts-weight--normal);
}

.font-size-sm.pure-black {
  color: var(--_color---deep-black);
}

.font-size-sm.brand-color {
  color: var(--_color---vermilion);
}

.font-size-sm.is-white {
  color: var(--_color---white);
}

.font-size-sm.align-center-mobile {
    text-align: center;
  }

.max-width-29 {
  max-width: 30rem;
}

.max-width-29 {
    max-width: none;
  }

.text-span-2 {
  color: var(--_color---vermilion);
}

.spacing-md {
  width: var(--_container-item---full);
  padding-top: var(--_spacing---spacer--spacing-md);
}

.spacing-md.hide-mobile {
    display: none;
  }

.misson-right {
  width: var(--_container-item---full);
  height: var(--_container-item---full);
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.misson-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

.misson-right {
    justify-content: flex-start;
    align-items: center;
  }

.btn-primary {
  padding: var(--_spacing---spacer--spacing-lg) var(--_spacing---spacer--spacing-6xl);
  grid-column-gap: var(--_spacing---spacer--spacing-md);
  grid-row-gap: var(--_spacing---spacer--spacing-md);
  border-radius: var(--_spacing---border-radious--border-raduous-5xl);
  background-color: var(--_color---vermilion);
  color: var(--_color---white);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn-primary:where(.w-variant-74398644-4401-b176-6ad3-5cc280b66a6e) {
  background-color: var(--_color---deep-black);
}

.btn-primary:where(.w-variant-7d50f1d0-5889-d2e1-d15c-149bb9585056), .btn-primary.bg-normal-white {
  background-color: var(--_color---alabaster);
  color: var(--_color---deep-black);
}

.btn-primary {
    padding-top: var(--_spacing---spacer--spacing-2xl);
    padding-bottom: var(--_spacing---spacer--spacing-2xl);
  }

.btn-primary {
    padding-top: var(--_spacing---spacer--spacing-3xl);
    padding-bottom: var(--_spacing---spacer--spacing-3xl);
  }

.btn-primary {
    padding-top: var(--_spacing---spacer--spacing-5xl);
    padding-bottom: var(--_spacing---spacer--spacing-5xl);
  }

.btn-primary:where(.w-variant-74398644-4401-b176-6ad3-5cc280b66a6e) {
    padding-right: var(--_spacing---spacer--spacing-10xl);
    padding-left: var(--_spacing---spacer--spacing-10xl);
  }

.button-arrow-main {
  z-index: 2;
  color: var(--_color---white);
  flex: none;
  width: 1.25rem;
  position: relative;
}

.button-arrow-main.black {
  color: var(--_color---black);
}

.spacing-20xl {
  width: var(--_container-item---full);
  padding-top: var(--_spacing---spacer--spacing-20xl);
}

.mission-grid {
  grid-column-gap: var(--_spacing---spacer--spacing-lg);
  grid-row-gap: var(--_spacing---spacer--spacing-lg);
  perspective: 1000px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.mission-grid {
    grid-template-columns: 1fr 1fr;
  }

.mission-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-6xl);
    grid-row-gap: var(--_spacing---spacer--spacing-6xl);
    grid-template-columns: 1fr;
  }

.mission-grid {
    grid-template-columns: 1fr;
  }

.mission-contain-card {
  grid-column-gap: var(--_spacing---spacer--spacing-lg);
  grid-row-gap: var(--_spacing---spacer--spacing-lg);
  transform-origin: 50% 100%;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.mission-top-card {
  width: var(--_container-item---full);
  padding: var(--_spacing---spacer--spacing-2xl) var(--_spacing---spacer--spacing-4xl);
  border: 1px solid var(--_color---light-transparent-black);
  border-radius: var(--_spacing---spacer--spacing-2xl);
}

.mission-top-card.aroww-button-stye {
  padding-top: var(--_spacing---spacer--spacing-6xl);
  padding-bottom: var(--_spacing---spacer--spacing-6xl);
  transition: all .2s;
}

.mission-top-card.aroww-button-stye:hover {
  transform: scale(.9);
}

.mission-top-card {
    justify-content: center;
    align-items: center;
    display: flex;
  }

.top-card-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.top-card-item.nothing {
  display: flex;
}

.top-card-item {
    justify-content: space-between;
    align-items: center;
  }

.top-card-item.nothing {
    width: var(--_container-item---full);
  }

.image-wrapper {
  padding-left: var(--_spacing---spacer--spacing-2xl);
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: visible;
}

.reviewer-img {
  width: 3.75rem;
  margin-left: -1rem;
  overflow: visible;
}

.reviewer-img {
    width: 3rem;
  }

.reviewer-img {
    width: 2.5rem;
  }

.top-content.nest {
  grid-column-gap: var(--_spacing---spacer--spacing-md);
  grid-row-gap: var(--_spacing---spacer--spacing-md);
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contain-bottom-card {
  height: var(--_container-item---full);
  padding: var(--_spacing---spacer--spacing-6xl) var(--_spacing---spacer--spacing-13xl) var(--_spacing---spacer--spacing-6xl) var(--_spacing---spacer--spacing-6xl);
  grid-column-gap: 14rem;
  grid-row-gap: 14rem;
  border: 1px solid var(--_color---light-transparent-black);
  border-radius: var(--_spacing---spacer--spacing-2xl);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.contain-bottom-card {
    grid-column-gap: 11rem;
    grid-row-gap: 11rem;
  }

.contain-bottom-card {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }

.contain-bottom-card {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }

.bottom-top-contant {
  grid-column-gap: var(--_spacing---spacer--spacing-md);
  grid-row-gap: var(--_spacing---spacer--spacing-md);
  flex-flow: column;
  display: flex;
}

.inverted-comma {
  width: 2rem;
  height: 2rem;
}

.inverted-comma {
    width: 1.7rem;
    height: 1.7rem;
  }

.font-size-base {
  font-family: var(--fonts-family--inter-display);
  color: var(--_color---deep-black);
  font-size: var(--_typography---font-size--font-size-base);
  line-height: var(--_typography---line-height--line-height-1-2);
  font-weight: var(--fonts-weight--medium);
}

.font-size-base.normal {
  font-weight: var(--fonts-weight--normal);
}

.font-size-base.faq, .font-size-base.medium {
  line-height: var(--_typography---line-height--line-height-1-5);
}

.font-size-base.medium.middle {
  text-align: center;
}

.font-size-base.semi-bold {
  font-weight: var(--fonts-weight--semi-bold);
}

.font-size-base.is-white {
  color: var(--_color---white);
}

.satisfication-percentise {
  grid-column-gap: var(--_spacing---spacer--spacing-lg);
  grid-row-gap: var(--_spacing---spacer--spacing-lg);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.robot-image-wrapper {
  height: var(--_container-item---full);
  border: 1px solid var(--_color---light-transparent-black);
  border-radius: var(--_spacing---border-radious--border-raduous-md);
  background-color: var(--_color---ghost-white);
}

.robot-image-wrapper {
    width: var(--_container-item---full);
  }

.robot-image {
  width: var(--_container-item---full);
  height: var(--_container-item---full);
  object-fit: cover;
}

.robot-image {
    width: var(--_container-item---full);
    object-fit: contain;
    object-position: 50% 0%;
  }

.robot-image {
    max-height: 25rem;
  }

.robot-image {
    max-height: 18rem;
  }

.counter-main {
  width: var(--_container-item---full);
  padding: var(--_spacing---spacer--spacing-6xl) var(--_spacing---spacer--spacing-4xl);
  border: 1px solid var(--_color---light-transparent-black);
  border-radius: var(--_spacing---border-radious--border-raduous-md);
  background-color: var(--_color---vermilion);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.card-icon-wrap {
  border-radius: var(--_spacing---border-radious--border-raduous-full);
  background-color: var(--_color---white);
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.card-icon-wrap {
    width: 2.7rem;
    height: 2.7rem;
  }

.card-icon-wrap {
    width: 2.5rem;
    height: 2.5rem;
  }

.card-icon {
  color: var(--_color---vermilion);
  width: 1.5rem;
  height: 1.5rem;
}

.card-icon {
    width: 1.4rem;
    height: 1.4rem;
  }

.counter-wrapper-main {
  justify-content: space-between;
  align-items: center;
  display: block;
}

.svg-3 {
  color: var(--_color---vermilion);
  width: 1.8rem;
  height: 1.8rem;
}

.arrow-wrapper {
  border: 1px solid var(--_color---light-transparent-black);
  border-radius: var(--_spacing---border-radious--border-raduous-5xl);
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.arrow-wrapper {
    width: 2.2rem;
    height: 2.2rem;
  }

.arrow-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.counter-value {
  color: var(--_color---deep-black);
  font-size: var(--_typography---font-size--font-size-5-5xl);
  line-height: var(--_typography---line-height--line-height-1-2);
  font-weight: var(--fonts-weight--semi-bold);
  letter-spacing: -.135rem;
}

.counter-value.color-normal {
  color: var(--_color---spanish-gray);
}

.counter-value.brand-color {
  color: var(--_color---vermilion);
}

.counter-value.is-white {
  color: var(--_color---white);
  font-size: var(--_typography---font-size--font-size-3xl);
}

.counter-value {
    font-size: 2rem;
  }

.counter-item {
  z-index: 1;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.counter-item {
    grid-column-gap: .6rem;
    grid-row-gap: .6rem;
  }

.counter-text {
  justify-content: center;
  align-items: center;
  display: flex;
}

.counter-col {
  justify-content: center;
  align-items: flex-start;
  height: 3.6rem;
  display: flex;
  overflow: hidden;
}

.counter-col.v2 {
  height: 2.5rem;
}

.counter-col {
    height: 3.2rem;
  }

.counter-col.v2 {
    height: 2rem;
  }

.counter-col {
    height: 2rem;
  }

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  body {
    --_typography---font-size--font-size-sm: 1rem;
    --_typography---line-height--line-height-1-2: 1.2em;
    --_typography---heading--display-1: 3.5rem;
    --_typography---font-size--font-size-5-6xl: 2.9rem;
    --_typography---font-size--font-size-lg: 1.4rem;
    --_typography---line-height--line-height-1-5: 1.5em;
    --_typography---font-size--font-size-2xl: 1.75rem;
    --_typography---line-height--line-height-1: 1em;
    --_typography---font-size--font-size-xsm: .875rem;
    --_typography---heading--display-2: 3rem;
    --_typography---font-size--font-size-base: 1.125rem;
    --_typography---font-size--font-size-5-5xl: 3rem;
    --_typography---font-size--font-size-3xl: 2rem;
    --_typography---font-size--font-size-4xl: 2.25rem;
    --_typography---heading--heading-style-h1: 8rem;
    --_typography---line-height--line-height-0-9: .9em;
    --_typography---font-size--font-size-xl: 1.5rem;
    --_typography---font-size--font-size-xs: .75rem;
    --_typography---font-size--font-size-md: 1rem;
    --_typography---font-size--font-size-5xl: 2.5rem;
    --_typography---font-size--font-size-xxxs: .25rem;
    --_typography---font-size--font-size-xxs: .5rem;
    --_typography---heading--heading-style-h2: 2.25rem;
    --_typography---heading--heading-style-h3: 1.25rem;
    --_typography---heading--heading-style-h4: 1.125rem;
    --_typography---heading--heading-style-h5: 0px;
    --_typography---heading--heading-style-h6: 0px;
    --_typography---line-height--line-height-1-1: 1.1em;
    --_typography---line-height--line-height-1-3: 1.3em;
    --_typography---line-height--line-height-1-4: 1.4em;
    --_typography---font-size--font-size-6xl: 3rem;
    --_typography---font-size--font-size-7xl: 3.5rem;
    --_typography---font-size--font-size-8xl: 4rem;
    --_typography---font-size--font-size-9xl: 3.75rem;
    --_typography---font-size--font-size-10xl: 4rem;
    --_typography---font-size--font-size-11xl: 4.25rem;
    --_typography---latter-spacing--litter-spacing-0-06: 0px;
    --_spacing---spacer--spacing-2xl: .8rem;
    --_spacing---spacer--space-md\<deleted\|variable-71325a18-6004-fe8b-a7ef-674cb4e2e5c6\>: 1rem;
    --_spacing---space--space-md\<deleted\|variable-0956de3c-0790-013b-da4f-d5d6cd583c56\>: 1.5rem;
    --_spacing---spacer--spacing-13xl: 2rem;
    --_spacing---spacer--space-29xl: 6rem;
    --_spacing---spacer--spacing-9xl: 1.6rem;
    --_spacing---spacer--spacing-8xl: 1.5rem;
    --_spacing---spacer--spacing-6xl: 1.2rem;
    --_spacing---spacer--spacing-16xl: 2.4rem;
    --_spacing---spacer--spacing-lg: .6rem;
    --_spacing---spacer--spacing-28xl: 4rem;
    --_spacing---border-radious--border-raduous-sm: .5rem;
    --_spacing---spacer--spacing-sm: .3rem;
    --_spacing---spacer--spacing-xs: .2rem;
    --_spacing---spacer--spacing-4xl: 1rem;
    --_spacing---border-radious--border-raduous-5xl: 6.25rem;
    --_spacing---border-radious--border-raduous-full: 999px;
    --_spacing---spacer--spacing-20xl: 3rem;
    --_spacing---spacer--spacing-19xl: 2.8rem;
    --_spacing---spacer--space-xxxl: 5rem;
    --_spacing---spacer--spacing-md: .4rem;
    --_spacing---spacer--spacing-3xl: .9rem;
    --_spacing---spacer--spacing-5xl: 1.1rem;
    --_spacing---spacer--spacing-10xl: 1.7rem;
    --_spacing---border-radious--border-raduous-md: 1rem;
    --_spacing---border-radious--border-raduous-2xl: 2rem;
    --_spacing---spacer--spacing-11xl: 1.8rem;
    --_spacing---spacer--spacing-7xl: 1.4rem;
    --_spacing---spacer--spacing-none: 0rem;
    --_spacing---spacer--spacing-17xl: 2.5rem;
    --_spacing---border-radious--border-raduous-lg: 1.25rem;
    --_spacing---spacer--spacing-xl: .7rem;
    --_spacing---spacer--spacing-xxs: .1rem;
    --_spacing---spacer--highest-space: 6rem;
    --_spacing---spacer--spacing-14xl: 2.2rem;
    --_spacing---spacer--spacing-24xl: 3.4rem;
    --_spacing---spacer--spacing-22xl: 3.2rem;
    --_spacing---spacer--spacing-15xl: 2.3rem;
    --_spacing---border-radious--border-raduous-base: .75rem;
    --_spacing---border-radious--border-raduous-xxs: .25rem;
    --_spacing---spacer--spacing-12xl: 1.9rem;
    --_spacing---spacer--spacing-18xl: 2.6rem;
    --_spacing---spacer--spacing-21xl: 3.1rem;
    --_spacing---spacer--spacing-23xl: 4.125rem;
    --_spacing---spacer--spacing-25xl: 3.6rem;
    --_spacing---spacer--spacing-26xl: 3.8rem;
    --_spacing---spacer--spacing-27xl: 3.9rem;
    --_spacing---spacer--highest-space-second: 7.5rem;
    --_spacing---border-radious--border-raduous-xxxs: .125rem;
    --_spacing---border-radious--border-raduous-xs: .375rem;
    --_spacing---border-radious--border-raduous-xl: 1.5rem;
    --_spacing---border-radious--border-raduous-3xl: 2.5rem;
    --_spacing---border-radious--border-raduous-4xl: 3rem;
    --_spacing---border-radious--border-raduous-none: 0rem;
  }

  .story-tab-link.w--current {
    padding: .5px;
  }

  .colors-guide-block {
    grid-template-columns: .45fr 1fr;
  }

  .section.bg-image {
    background-position: 50%;
    background-size: cover;
  }

  .all-paragraph-classes {
    grid-template-columns: .45fr 1fr;
    padding: 40px;
  }

  .all-button-style {
    grid-template-columns: .45fr 1fr;
  }

  .color-block-grid {
    grid-template-columns: 1fr 1fr;
  }

  .style-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .all-paragraph-lists {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .all-heading-classes {
    flex-flow: column;
    grid-template-columns: .45fr 1fr;
    padding: 2.5rem;
    display: flex;
  }

  .changelog-title-wrap {
    width: 100%;
  }

  .version {
    width: 22%;
  }

  .changelog-title-wrapper {
    align-items: flex-start;
    width: 70%;
  }

  .marque-content {
    padding: var(--_spacing---spacer--spacing-13xl) var(--_spacing---spacer--spacing-20xl);
    height: 10rem;
  }

  .marque-logo {
    width: 8.5rem;
  }

  .misson-top-wrappar {
    grid-template-columns: 1fr .5fr;
  }

  .max-width-29 {
    max-width: none;
  }

  .spacing-md.hide-mobile {
    display: none;
  }

  .misson-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btn-primary {
    padding-top: var(--_spacing---spacer--spacing-2xl);
    padding-bottom: var(--_spacing---spacer--spacing-2xl);
  }

  .mission-grid {
    grid-template-columns: 1fr 1fr;
  }

  .reviewer-img {
    width: 3rem;
  }

  .contain-bottom-card {
    grid-column-gap: 11rem;
    grid-row-gap: 11rem;
  }

  .robot-image-wrapper {
    width: var(--_container-item---full);
  }

  .robot-image {
    width: var(--_container-item---full);
    object-fit: contain;
    object-position: 50% 0%;
  }

  .project-card {
    height: 55vh;
  }

  .project-card.v2 {
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
  }

  .arrow {
    max-width: 3.5rem;
    height: 3.5rem;
  }

  .aroww-ichon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .featured-card-wrapper {
    padding-right: var(--_spacing---spacer--spacing-none);
    padding-left: var(--_spacing---spacer--spacing-none);
  }

  .spaching-20-xl.hide-tablet {
    display: none;
  }

  .working-process-step {
    grid-template-columns: 1fr 1fr;
  }

  .font-super-xl {
    font-size: 12rem;
  }

  .testiomonial-top-contant {
    grid-column-gap: var(--_spacing---spacer--spacing-4xl);
    grid-row-gap: var(--_spacing---spacer--spacing-4xl);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .tm-top-right {
    justify-content: flex-start;
    align-self: auto;
    align-items: center;
    margin-right: auto;
  }

  .max-width-25-6 {
    max-width: 40rem;
  }

  .testiomonial-card {
    flex: none;
    max-width: 40rem;
  }

  .testiomoniul-card-info-block {
    padding: var(--_spacing---spacer--spacing-13xl) var(--_spacing---spacer--spacing-8xl) var(--_spacing---spacer--spacing-13xl) var(--_spacing---spacer--spacing-13xl);
  }

  .user-image {
    height: 23rem;
  }

  .faq-wrapper {
    grid-column-gap: var(--_spacing---spacer--spacing-17xl);
    grid-row-gap: var(--_spacing---spacer--spacing-17xl);
    grid-template-columns: 1fr;
  }

  .faq-bottom-wrapper {
    grid-column-gap: var(--_spacing---spacer--spacing-7xl);
    grid-row-gap: var(--_spacing---spacer--spacing-7xl);
  }

  .blog-collection-list {
    grid-template-columns: 1fr 1fr;
  }

  .blog-card {
    height: 30rem;
  }

  .footer-bottom-wrapapr {
    padding-top: 8rem;
  }

  .footer-logo {
    width: 15rem;
    height: 15rem;
  }

  .pill-devider {
    grid-column-gap: var(--_spacing---spacer--spacing-8xl);
    grid-row-gap: var(--_spacing---spacer--spacing-8xl);
  }

  .display {
    text-align: center;
    font-size: 12.1rem;
  }

  .footer-desplay-wrapper {
    padding-top: 5rem;
  }

  .counter-col {
    height: 3.2rem;
  }

  .services-header {
    grid-column-gap: var(--_spacing---spacer--spacing-8xl);
    grid-row-gap: var(--_spacing---spacer--spacing-8xl);
    grid-template-columns: 1fr;
  }

  .services-header-right {
    justify-content: flex-start;
    align-items: center;
  }

  .sticky-wrapper {
    height: auto;
  }

  .services-grid {
    display: none;
    position: static;
  }

  .services-right-item-card {
    grid-column-gap: var(--_spacing---spacer--spacing-6xl);
    grid-row-gap: var(--_spacing---spacer--spacing-6xl);
  }

  .hero-heading.contact {
    text-align: left;
  }

  .hero-text {
    font-size: 11.1rem;
  }

  .line-wrapper-main {
    padding-left: .5rem;
    padding-right: .5rem;
    display: none;
  }

  .hero-social-main {
    padding-right: var(--_spacing---spacer--spacing-8xl);
    padding-left: var(--_spacing---spacer--spacing-8xl);
  }

  .about-header-main {
    grid-column-gap: var(--_spacing---spacer--spacing-17xl);
    grid-row-gap: var(--_spacing---spacer--spacing-17xl);
  }

  .about-header-bottom {
    grid-template-columns: 1fr;
  }

  .about-image-wrap {
    height: 30rem;
  }

  .team-heading {
    text-align: left;
  }

  .team-heading.center-tablet {
    text-align: center;
  }

  .team-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
  }

  .team-img {
    height: 25rem;
  }

  .award-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 3fr;
  }

  .project-main-img-block, .project-multi-img {
    height: 30rem;
  }

  .text-field.messege-area {
    height: 7rem;
  }

  ._404-number {
    font-size: 23rem;
  }

  .card._2 {
    transform: translate3d(-30%, 0, -550px);
  }

  .card._4 {
    transform: translate3d(30%, 0, -550px);
  }

  .card._1 {
    transform: translate3d(-62%, 0, -800px);
  }

  .card._6 {
    transform: translate3d(90%, 0, -1000px);
  }

  .card._5 {
    transform: translate3d(62%, 0, -800px);
  }

  .image-container {
    width: 19rem;
    height: 24rem;
  }

  .services-tab {
    display: block;
  }

  .services-tab-menu {
    grid-column-gap: var(--_spacing---spacer--spacing-4xl);
    grid-row-gap: var(--_spacing---spacer--spacing-4xl);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .services-tab-link {
    padding: var(--_spacing---spacer--spacing-none);
    opacity: .35;
    background-color: #ddd0;
  }

  .services-tab-link.w--current {
    opacity: 100;
    background-color: #ddd0;
  }

  .services-tab-content {
    margin-top: var(--_spacing---spacer--spacing-17xl);
  }

  .nav-link-text {
    font-size: 1.5rem;
  }

  .nav-right {
    grid-column-gap: 1.3rem;
    grid-row-gap: 1.3rem;
  }

  .navbar-container {
    align-items: center;
  }

  .nav-link-block {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    --_typography---font-size--font-size-sm: 1rem;
    --_typography---line-height--line-height-1-2: 1.2em;
    --_typography---heading--display-1: 3rem;
    --_typography---font-size--font-size-5-6xl: 2.75rem;
    --_typography---font-size--font-size-lg: 1.3rem;
    --_typography---line-height--line-height-1-5: 1.5em;
    --_typography---font-size--font-size-2xl: 1.5rem;
    --_typography---line-height--line-height-1: 1em;
    --_typography---font-size--font-size-xsm: .875rem;
    --_typography---heading--display-2: 2.5rem;
    --_typography---font-size--font-size-base: 1rem;
    --_typography---font-size--font-size-5-5xl: 2.5rem;
    --_typography---font-size--font-size-3xl: 1.75rem;
    --_typography---font-size--font-size-4xl: 2rem;
    --_typography---heading--heading-style-h1: 5.8rem;
    --_typography---line-height--line-height-0-9: .9em;
    --_typography---font-size--font-size-xl: 1.25rem;
    --_typography---font-size--font-size-xs: .75rem;
    --_typography---font-size--font-size-md: .875rem;
    --_typography---font-size--font-size-5xl: 2.25rem;
    --_typography---font-size--font-size-xxxs: .25rem;
    --_typography---font-size--font-size-xxs: .5rem;
    --_typography---heading--heading-style-h2: 2rem;
    --_typography---heading--heading-style-h3: 1.25rem;
    --_typography---heading--heading-style-h4: 1.125rem;
    --_typography---heading--heading-style-h5: 0px;
    --_typography---heading--heading-style-h6: 0px;
    --_typography---line-height--line-height-1-1: 1.1em;
    --_typography---line-height--line-height-1-3: 1.3em;
    --_typography---line-height--line-height-1-4: 1.4em;
    --_typography---font-size--font-size-6xl: 2.5rem;
    --_typography---font-size--font-size-7xl: 3rem;
    --_typography---font-size--font-size-8xl: 3.5rem;
    --_typography---font-size--font-size-9xl: 3.5rem;
    --_typography---font-size--font-size-10xl: 3.75rem;
    --_typography---font-size--font-size-11xl: 4rem;
    --_typography---latter-spacing--litter-spacing-0-06: 0px;
    --_spacing---spacer--spacing-2xl: .7rem;
    --_spacing---spacer--space-md\<deleted\|variable-71325a18-6004-fe8b-a7ef-674cb4e2e5c6\>: 1rem;
    --_spacing---space--space-md\<deleted\|variable-0956de3c-0790-013b-da4f-d5d6cd583c56\>: 1.5rem;
    --_spacing---spacer--spacing-13xl: 1.75rem;
    --_spacing---spacer--space-29xl: 4.5rem;
    --_spacing---spacer--spacing-9xl: 1.4rem;
    --_spacing---spacer--spacing-8xl: 1.3125rem;
    --_spacing---spacer--spacing-6xl: 1.0499rem;
    --_spacing---spacer--spacing-16xl: 2.09rem;
    --_spacing---spacer--spacing-lg: .5249rem;
    --_spacing---spacer--spacing-28xl: 3.5rem;
    --_spacing---border-radious--border-raduous-sm: .5rem;
    --_spacing---spacer--spacing-sm: .26rem;
    --_spacing---spacer--spacing-xs: .175rem;
    --_spacing---spacer--spacing-4xl: .875rem;
    --_spacing---border-radious--border-raduous-5xl: 6.25rem;
    --_spacing---border-radious--border-raduous-full: 999px;
    --_spacing---spacer--spacing-20xl: 2.625rem;
    --_spacing---spacer--spacing-19xl: 2.44rem;
    --_spacing---spacer--space-xxxl: 4.5rem;
    --_spacing---spacer--spacing-md: .35rem;
    --_spacing---spacer--spacing-3xl: .7875rem;
    --_spacing---spacer--spacing-5xl: .962rem;
    --_spacing---spacer--spacing-10xl: 1.487rem;
    --_spacing---border-radious--border-raduous-md: 1rem;
    --_spacing---border-radious--border-raduous-2xl: 2rem;
    --_spacing---spacer--spacing-11xl: 1.575rem;
    --_spacing---spacer--spacing-7xl: 1.224rem;
    --_spacing---spacer--spacing-none: 0rem;
    --_spacing---spacer--spacing-17xl: 2.1875rem;
    --_spacing---border-radious--border-raduous-lg: 1.25rem;
    --_spacing---spacer--spacing-xl: .6124rem;
    --_spacing---spacer--spacing-xxs: .0875rem;
    --_spacing---spacer--highest-space: 6rem;
    --_spacing---spacer--spacing-14xl: 1.924rem;
    --_spacing---spacer--spacing-24xl: 2.97rem;
    --_spacing---spacer--spacing-22xl: 2.8rem;
    --_spacing---spacer--spacing-15xl: 2.012rem;
    --_spacing---border-radious--border-raduous-base: .75rem;
    --_spacing---border-radious--border-raduous-xxs: .25rem;
    --_spacing---spacer--spacing-12xl: 1.662rem;
    --_spacing---spacer--spacing-18xl: 2.275rem;
    --_spacing---spacer--spacing-21xl: 2.7125rem;
    --_spacing---spacer--spacing-23xl: 2.887rem;
    --_spacing---spacer--spacing-25xl: 3.15rem;
    --_spacing---spacer--spacing-26xl: 3.324rem;
    --_spacing---spacer--spacing-27xl: 3.412rem;
    --_spacing---spacer--highest-space-second: 7.5rem;
    --_spacing---border-radious--border-raduous-xxxs: .125rem;
    --_spacing---border-radious--border-raduous-xs: .375rem;
    --_spacing---border-radious--border-raduous-xl: 1.5rem;
    --_spacing---border-radious--border-raduous-3xl: 2.5rem;
    --_spacing---border-radious--border-raduous-4xl: 3rem;
    --_spacing---border-radious--border-raduous-none: 0rem;
  }

  ul {
    padding-left: 30px;
  }

  .story-tab-link {
    background-color: var(--_color---rgba-255-255-255-0-05\<deleted\|variable-ae2ec911-0fb0-0270-8074-77c2562fd805\>);
    writing-mode: horizontal-tb;
    background-image: none;
  }

  .story-tab-link.w--current {
    background-image: none;
  }

  .colors-guide-block {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .section.hero {
    padding-top: 0;
  }

  .all-paragraph-classes {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: minmax(0, 1fr);
  }

  .all-button-style {
    grid-template-columns: minmax(0, 1fr);
  }

  .color-block-grid {
    grid-template-columns: 1fr 1fr;
  }

  .all-paragraph-lists, .all-heading-lists {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .all-button-lists {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: wrap;
  }

  .all-heading-classes {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: minmax(0, 1fr);
  }

  .version {
    width: 25%;
  }

  .changelog-title-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .singel-changelog-card {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .marque-content {
    padding: var(--_spacing---spacer--spacing-13xl) var(--_spacing---spacer--spacing-19xl);
    height: 7rem;
  }

  .marque-logo {
    width: 8rem;
  }

  .misson-top-wrappar {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
    flex-flow: column;
    grid-template-columns: 1fr;
    justify-content: flex-end;
  }

  .heading-style-h2.center-mobile {
    text-align: center;
  }

  .spacing-md.hide-mobile {
    display: none;
  }

  .misson-right {
    justify-content: flex-start;
    align-items: center;
  }

  .btn-primary {
    padding-top: var(--_spacing---spacer--spacing-3xl);
    padding-bottom: var(--_spacing---spacer--spacing-3xl);
  }

  .mission-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-6xl);
    grid-row-gap: var(--_spacing---spacer--spacing-6xl);
    grid-template-columns: 1fr;
  }

  .reviewer-img {
    width: 3rem;
  }

  .contain-bottom-card {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }

  .robot-image {
    max-height: 25rem;
  }

  .card-icon-wrap {
    width: 2.7rem;
    height: 2.7rem;
  }

  .card-icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .project-card {
    padding: var(--_spacing---spacer--spacing-11xl);
    height: 50vh;
  }

  .arrow {
    max-width: 3.25rem;
    height: 3.25rem;
  }

  .aroww-ichon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .working-process-step {
    grid-template-columns: 1fr 1fr;
  }

  .process-card-wrapper {
    height: var(--_container-item---full);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .font-super-xl {
    font-size: 10rem;
  }

  .testiomonial-top-contant {
    grid-column-gap: var(--_spacing---spacer--spacing-3xl);
    grid-row-gap: var(--_spacing---spacer--spacing-3xl);
    flex-flow: column;
  }

  .tm-top-right {
    align-self: auto;
  }

  .max-width-25-6 {
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }

  .testiomonial-card {
    max-width: 34.3rem;
  }

  .testiomoniul-card-info-block {
    padding: var(--_spacing---spacer--spacing-9xl);
  }

  .testiomonal-logo {
    width: 7rem;
  }

  .user-image {
    height: 19rem;
  }

  .faq-wrapper {
    grid-template-columns: 1fr;
  }

  .faq-arrow {
    width: 1.2rem;
  }

  .blog-collection-list {
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
  }

  .blog-card {
    height: 21rem;
  }

  .footer-bottom-wrapapr {
    padding-top: 6rem;
  }

  .footer-logo {
    width: 16rem;
    height: 16rem;
  }

  .pill-devider {
    flex-flow: column;
  }

  .display {
    font-size: 8.5rem;
  }

  .footer-desplay-wrapper {
    padding-top: 3rem;
  }

  .counter-col {
    height: 3.2rem;
  }

  .counter-col.v2 {
    height: 2rem;
  }

  .services-header {
    flex-flow: column;
    grid-template-columns: 1fr;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .services-header-right {
    justify-content: flex-start;
    align-items: center;
  }

  .services-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-19xl);
    grid-row-gap: var(--_spacing---spacer--spacing-19xl);
    grid-template-columns: 1fr;
  }

  .hero-text {
    font-size: 9.3rem;
  }

  .line-wrapper-main {
    display: none;
  }

  .hero-social-main {
    padding-right: var(--_spacing---spacer--spacing-6xl);
    padding-left: var(--_spacing---spacer--spacing-3xl);
    display: none;
  }

  .hero-review-block {
    width: var(--_container-item---full);
    grid-column-gap: var(--_spacing---spacer--spacing-16xl);
    grid-row-gap: var(--_spacing---spacer--spacing-16xl);
    justify-content: center;
    align-items: center;
  }

  .about-header-bottom {
    grid-column-gap: var(--_spacing---spacer--spacing-15xl);
    grid-row-gap: var(--_spacing---spacer--spacing-15xl);
  }

  .about-icon {
    width: 1.5rem;
  }

  .about-image-wrap {
    background-position: 100% 0;
    height: 24rem;
  }

  .team-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-9xl);
    grid-row-gap: var(--_spacing---spacer--spacing-9xl);
  }

  .team-img {
    border-radius: var(--_spacing---border-radious--border-raduous-base);
    height: 18rem;
  }

  .team-info-block {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }

  .award-grid {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .award-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .project-main-img-block {
    height: 25rem;
  }

  .project-multi-img {
    height: 20rem;
  }

  .contact-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-19xl);
    grid-row-gap: var(--_spacing---spacer--spacing-19xl);
    grid-template-columns: 1fr;
  }

  .contact-left {
    grid-column-gap: var(--_spacing---spacer--spacing-15xl);
    grid-row-gap: var(--_spacing---spacer--spacing-15xl);
    max-width: none;
  }

  .contact-right {
    grid-column-gap: var(--_spacing---spacer--spacing-9xl);
    grid-row-gap: var(--_spacing---spacer--spacing-9xl);
    max-width: none;
  }

  .max-width-13 {
    max-width: none;
  }

  ._404-number {
    font-size: 16rem;
  }

  .card._2 {
    transform: translate3d(-25%, 0, -550px);
  }

  .card._4 {
    transform: translate3d(25%, 0, -550px);
  }

  .card._1 {
    transform: translate3d(-50%, 0, -800px);
  }

  .card._6 {
    transform: translate3d(77%, 0, -1000px);
  }

  .card._5 {
    transform: translate3d(50%, 0, -800px);
  }

  .image-container {
    width: 16rem;
    height: 22rem;
  }

  .project-grid-v2 {
    grid-template-columns: 1fr;
  }

  .nav-link-text {
    font-size: 1.3rem;
  }

  .nav-grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav-menu-overlay {
    padding-top: 6.5rem;
  }

  .navbar-container {
    align-items: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .nav-image-wrap {
    background-size: cover;
  }

  .nav-link-block {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  body {
    --_typography---font-size--font-size-sm: 1rem;
    --_typography---line-height--line-height-1-2: 1.2em;
    --_typography---heading--display-1: 2.5rem;
    --_typography---font-size--font-size-5-6xl: 2.25rem;
    --_typography---font-size--font-size-lg: 1.3rem;
    --_typography---line-height--line-height-1-5: 1.5em;
    --_typography---font-size--font-size-2xl: 1.25rem;
    --_typography---line-height--line-height-1: 1em;
    --_typography---font-size--font-size-xsm: .875rem;
    --_typography---heading--display-2: 2.25rem;
    --_typography---font-size--font-size-base: .875rem;
    --_typography---font-size--font-size-5-5xl: 2.5rem;
    --_typography---font-size--font-size-3xl: 1.5rem;
    --_typography---font-size--font-size-4xl: 1.75rem;
    --_typography---heading--heading-style-h1: 3.6rem;
    --_typography---line-height--line-height-0-9: .9em;
    --_typography---font-size--font-size-xl: 1.125rem;
    --_typography---font-size--font-size-xs: .9rem;
    --_typography---font-size--font-size-md: .75rem;
    --_typography---font-size--font-size-5xl: 1.9rem;
    --_typography---font-size--font-size-xxxs: .25rem;
    --_typography---font-size--font-size-xxs: .5rem;
    --_typography---heading--heading-style-h2: 1.75rem;
    --_typography---heading--heading-style-h3: 1.25rem;
    --_typography---heading--heading-style-h4: 1.125rem;
    --_typography---heading--heading-style-h5: 0px;
    --_typography---heading--heading-style-h6: 0px;
    --_typography---line-height--line-height-1-1: 1.1em;
    --_typography---line-height--line-height-1-3: 1.3em;
    --_typography---line-height--line-height-1-4: 1.4em;
    --_typography---font-size--font-size-6xl: 2.25rem;
    --_typography---font-size--font-size-7xl: 4rem;
    --_typography---font-size--font-size-8xl: 3rem;
    --_typography---font-size--font-size-9xl: 3.25rem;
    --_typography---font-size--font-size-10xl: 3.5rem;
    --_typography---font-size--font-size-11xl: 3.75rem;
    --_typography---latter-spacing--litter-spacing-0-06: 0px;
    --_spacing---spacer--spacing-2xl: .6rem;
    --_spacing---spacer--space-md\<deleted\|variable-71325a18-6004-fe8b-a7ef-674cb4e2e5c6\>: 1rem;
    --_spacing---space--space-md\<deleted\|variable-0956de3c-0790-013b-da4f-d5d6cd583c56\>: 1.5rem;
    --_spacing---spacer--spacing-13xl: 1.5rem;
    --_spacing---spacer--space-29xl: 3.6rem;
    --_spacing---spacer--spacing-9xl: 1.2rem;
    --_spacing---spacer--spacing-8xl: 1.125rem;
    --_spacing---spacer--spacing-6xl: .899rem;
    --_spacing---spacer--spacing-16xl: 1.799rem;
    --_spacing---spacer--spacing-lg: .449rem;
    --_spacing---spacer--spacing-28xl: 3rem;
    --_spacing---border-radious--border-raduous-sm: .5rem;
    --_spacing---spacer--spacing-sm: .224rem;
    --_spacing---spacer--spacing-xs: .15rem;
    --_spacing---spacer--spacing-4xl: .75rem;
    --_spacing---border-radious--border-raduous-5xl: 6.25rem;
    --_spacing---border-radious--border-raduous-full: 999px;
    --_spacing---spacer--spacing-20xl: 2.25rem;
    --_spacing---spacer--spacing-19xl: 2.1rem;
    --_spacing---spacer--space-xxxl: 4rem;
    --_spacing---spacer--spacing-md: .3rem;
    --_spacing---spacer--spacing-3xl: .674rem;
    --_spacing---spacer--spacing-5xl: .825rem;
    --_spacing---spacer--spacing-10xl: 1.275rem;
    --_spacing---border-radious--border-raduous-md: 1rem;
    --_spacing---border-radious--border-raduous-2xl: 2rem;
    --_spacing---spacer--spacing-11xl: 1.349rem;
    --_spacing---spacer--spacing-7xl: 1.05rem;
    --_spacing---spacer--spacing-none: 0rem;
    --_spacing---spacer--spacing-17xl: 1.875rem;
    --_spacing---border-radious--border-raduous-lg: 1.25rem;
    --_spacing---spacer--spacing-xl: .525rem;
    --_spacing---spacer--spacing-xxs: .075rem;
    --_spacing---spacer--highest-space: 4.5rem;
    --_spacing---spacer--spacing-14xl: 1.65rem;
    --_spacing---spacer--spacing-24xl: 2.55rem;
    --_spacing---spacer--spacing-22xl: 2.4rem;
    --_spacing---spacer--spacing-15xl: 1.7249rem;
    --_spacing---border-radious--border-raduous-base: .75rem;
    --_spacing---border-radious--border-raduous-xxs: .25rem;
    --_spacing---spacer--spacing-12xl: 1.425rem;
    --_spacing---spacer--spacing-18xl: 1.95rem;
    --_spacing---spacer--spacing-21xl: 2.324rem;
    --_spacing---spacer--spacing-23xl: 2.475rem;
    --_spacing---spacer--spacing-25xl: 2.699rem;
    --_spacing---spacer--spacing-26xl: 2.85rem;
    --_spacing---spacer--spacing-27xl: 2.925rem;
    --_spacing---spacer--highest-space-second: 7.5rem;
    --_spacing---border-radious--border-raduous-xxxs: .125rem;
    --_spacing---border-radious--border-raduous-xs: .375rem;
    --_spacing---border-radious--border-raduous-xl: 1.5rem;
    --_spacing---border-radious--border-raduous-3xl: 2.5rem;
    --_spacing---border-radious--border-raduous-4xl: 3rem;
    --_spacing---border-radious--border-raduous-none: 0rem;
  }

  ul {
    padding-left: 20px;
  }

  .faq-link {
    padding: .5rem;
  }

  .colors-guide-block {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .all-paragraph-classes {
    padding: 40px 20px;
  }

  .color-block-grid {
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
    flex-flow: column;
    grid-template-columns: minmax(0, 1fr);
    display: flex;
  }

  .all-paragraph-lists {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: none;
  }

  .all-heading-lists {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .all-button-lists {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: none;
  }

  .all-heading-classes {
    padding: 40px 30px 40px 20px;
  }

  .version {
    width: 100%;
    margin-top: 0;
  }

  .changelog-card-wrapper {
    flex-flow: column;
  }

  .changelog-title-wrapper {
    width: 100%;
  }

  .singel-changelog-card {
    flex-flow: column;
  }

  .menu-link-ichon {
    width: 1.1rem;
    height: 1.1rem;
  }

  .menu-link-wrapper {
    width: 1.8rem;
    height: 1.8rem;
  }

  .marque-content {
    padding-right: var(--_spacing---spacer--spacing-13xl);
    padding-left: var(--_spacing---spacer--spacing-13xl);
    height: 5.2rem;
  }

  .marque-logo {
    width: 7rem;
  }

  .services-header-left {
    grid-column-gap: var(--_spacing---spacer--spacing-sm);
    grid-row-gap: var(--_spacing---spacer--spacing-sm);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .font-size-sm.align-center-mobile {
    text-align: center;
  }

  .btn-primary {
    padding-top: var(--_spacing---spacer--spacing-5xl);
    padding-bottom: var(--_spacing---spacer--spacing-5xl);
  }

  .btn-primary:where(.w-variant-74398644-4401-b176-6ad3-5cc280b66a6e) {
    padding-right: var(--_spacing---spacer--spacing-10xl);
    padding-left: var(--_spacing---spacer--spacing-10xl);
  }

  .mission-grid {
    grid-template-columns: 1fr;
  }

  .mission-top-card {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .top-card-item {
    justify-content: space-between;
    align-items: center;
  }

  .top-card-item.nothing {
    width: var(--_container-item---full);
  }

  .reviewer-img {
    width: 2.5rem;
  }

  .contain-bottom-card {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }

  .inverted-comma {
    width: 1.7rem;
    height: 1.7rem;
  }

  .robot-image {
    max-height: 18rem;
  }

  .card-icon-wrap {
    width: 2.5rem;
    height: 2.5rem;
  }

  .arrow-wrapper {
    width: 2.2rem;
    height: 2.2rem;
  }

  .testimonial-header-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .project-card {
    height: 40vh;
  }

  .project-card.v2 {
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21rem;
  }

  .arrow {
    max-width: 3rem;
    height: 3rem;
  }

  .aroww-ichon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .working-process-step {
    grid-template-columns: 1fr;
  }

  .font-super-xl {
    font-size: 9rem;
  }

  .max-width-16 {
    max-width: none;
  }

  .testiomonial-card {
    border-radius: var(--_spacing---border-radious--border-raduous-md);
    justify-content: flex-start;
    align-items: stretch;
    max-width: 27rem;
  }

  .testiomoniul-card-info-block {
    padding: var(--_spacing---spacer--spacing-4xl);
  }

  .user-image {
    height: 16rem;
  }

  .faq-wrapper {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
  }

  .faq-tab-link {
    padding: var(--_spacing---spacer--spacing-7xl);
  }

  .faq-quetion-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 4fr .25fr;
    grid-auto-columns: 1fr;
    place-items: start stretch;
    display: grid;
  }

  .faq-arrow {
    width: 1rem;
  }

  .blog-collection-list {
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-column-gap: var(--_spacing---spacer--spacing-10xl);
    grid-row-gap: var(--_spacing---spacer--spacing-10xl);
    grid-template-columns: 1fr;
  }

  .footer-bottom-wrapapr {
    padding-top: 4rem;
  }

  .footer-logo {
    width: 10rem;
    height: 10rem;
  }

  .footer-dark-wrappar {
    padding-top: var(--_spacing---spacer--spacing-28xl);
    height: auto;
  }

  .pill-wraapr {
    justify-content: space-between;
    align-items: center;
  }

  .pill-devider {
    justify-content: flex-start;
    align-items: center;
  }

  .social-link {
    border-width: 2.5px;
  }

  .display {
    text-align: center;
    font-size: 5rem;
  }

  .footer-desplay-wrapper {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
    padding-top: 1.5rem;
  }

  .fotter-copy-right {
    grid-column-gap: var(--_spacing---spacer--spacing-9xl);
    grid-row-gap: var(--_spacing---spacer--spacing-9xl);
    flex-flow: column;
  }

  .fotter-menu-link.inner {
    grid-column-gap: var(--_spacing---spacer--spacing-xl);
    grid-row-gap: var(--_spacing---spacer--spacing-xl);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fotter-title-name {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fotter-title-name.middle {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fotter-socal-media {
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }

  .social-ichon {
    width: 2.3rem;
    height: 2.3rem;
  }

  .counter-value {
    font-size: 2rem;
  }

  .counter-item {
    grid-column-gap: .6rem;
    grid-row-gap: .6rem;
  }

  .counter-col {
    height: 2rem;
  }

  .hero-middle {
    margin-top: var(--_spacing---spacer--spacing-9xl);
  }

  .hero-text {
    font-size: 8rem;
  }

  .line-wrapper-main {
    display: none;
  }

  .hero-review-block {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
    flex-flow: column;
  }

  .reviewer-image {
    width: 2.1rem;
    height: 2.1rem;
  }

  .reviewer-left {
    grid-column-gap: var(--_spacing---spacer--spacing-4xl);
    grid-row-gap: var(--_spacing---spacer--spacing-4xl);
  }

  .menu-button-item-wrap {
    padding-right: var(--_spacing---spacer--spacing-lg);
  }

  .about-header-info-left {
    grid-column-gap: var(--_spacing---spacer--spacing-lg);
    grid-row-gap: var(--_spacing---spacer--spacing-lg);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .about-button-wrap {
    grid-column-gap: var(--_spacing---spacer--spacing-4xl);
    grid-row-gap: var(--_spacing---spacer--spacing-4xl);
    flex-flow: column;
  }

  .about-social-wrap {
    grid-column-gap: var(--_spacing---spacer--spacing-2xl);
    grid-row-gap: var(--_spacing---spacer--spacing-2xl);
    justify-content: center;
    align-items: flex-end;
    width: auto;
  }

  .about-image-wrap {
    height: 17rem;
  }

  .team-heading.center-mobile {
    text-align: center;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-img {
    object-position: 50% 0%;
  }

  .team-info-block {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }

  .award-left {
    justify-content: flex-start;
    align-items: center;
  }

  .award-right {
    grid-column-gap: var(--_spacing---spacer--spacing-4xl);
    grid-row-gap: var(--_spacing---spacer--spacing-4xl);
  }

  .award-item-blaock {
    padding-bottom: var(--_spacing---spacer--spacing-4xl);
    justify-content: space-between;
    align-items: flex-start;
  }

  .award-right-item {
    grid-column-gap: var(--_spacing---spacer--spacing-6xl);
    grid-row-gap: var(--_spacing---spacer--spacing-6xl);
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .project-info-main-top {
    flex-flow: wrap;
  }

  .project-main-img-block {
    height: 18rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-multi-img {
    height: 18rem;
  }

  .contact-left {
    grid-column-gap: var(--_spacing---spacer--spacing-13xl);
    grid-row-gap: var(--_spacing---spacer--spacing-13xl);
  }

  .contact-right {
    grid-column-gap: var(--_spacing---spacer--spacing-7xl);
    grid-row-gap: var(--_spacing---spacer--spacing-7xl);
  }

  .contact-heading {
    text-align: left;
  }

  .contact-social-link {
    padding-top: var(--_spacing---spacer--spacing-md);
    padding-bottom: var(--_spacing---spacer--spacing-md);
  }

  .text-field {
    padding: var(--_spacing---spacer--spacing-5xl);
    height: 2.8rem;
  }

  ._404-number {
    font-size: 9rem;
  }

  .nav-button-wrap {
    display: none;
  }

  .image-container {
    width: 14.5rem;
    height: 19.5rem;
  }

  .nav-link-text {
    font-size: 1rem;
  }

  .nav-grid {
    grid-template-columns: 1fr;
  }

  .nav-menu-overlay {
    padding-top: 5.4rem;
  }

  .nav-right {
    grid-column-gap: .9rem;
    grid-row-gap: .9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .navbar-container {
    justify-content: space-between;
    align-items: center;
  }

  .nav-image-wrap {
    min-height: 17rem;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}